.Card {
  display: grid;
  padding: 60px;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  grid-template-areas:
    'a b c'
    'd e f'
    'g h i';
  background-color: #afafae;
  border-radius: 50%;
  cursor: pointer;
}

.isLarge {
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}
