.counters-secondary {
  display: grid;
  grid-template-columns: (3, 1fr);
  grid-auto-rows: minmax(auto, auto);
  width: 90vw;
}

.level {
  grid-column: 1/3;
  grid-row: 1;
  font-size: 2em;
}

.elements {
  grid-column: 3/3;
  grid-row: 1;
}
.time {
  grid-column: 3/3;
  grid-row: 2;
}
.bonus {
  grid-column: 3/3;
  grid-row: 3;
}
