.splashScreen {
  text-align: center;
  font-size: 1em;
}

.gameBoard {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /*
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  */

}

.splashBtn {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right:  4vw;
  bottom: 6vw;

}

.gameEndText p {
  font-size: 1.5em;
}

h1 {
  font-size: 3em;
  margin-top: -0.2em;
  margin-bottom: -0.1em;
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) and (min-height: 480px) {
  .splashScreen {
    padding-top: 20px;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) and (min-height: 600px) {
  .splashScreen {
    padding-top: 60px;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) and (min-height: 980px) {
  .splashScreen {
    padding-top: 100px;
  }
}
