.TiltedScreen {
  background-color: var(--color-bright);
  padding: 20% 10%;
  min-height: 400px;
  border-radius: 50px;
  display: flex;
  width: 100%;
  color: var(--color-text);
}

.ScreenShadow {
  display: flex;
  width: 100%;
  filter: drop-shadow(10px 0px 20px rgba(var(--color-subdued-rgb), 0.2));
}
