.instructions,
.credits,
.intro {
  width: inherit;
}

.credits,
.intro {
  font-size: 1.5em;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instructions {
  max-height: 400px;
  overflow-y: scroll;
}
