@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&display=swap');

:root {
  --color-bg: white;
  --color-text: rgb(18, 18, 18);
  --color-title: #bbcea8;
  --color-subdued: #bdd5ea;
  --color-subdued-rgb: rgb(90, 88, 88);
  --color-bright: #edede9;
  --color-decoration: #d5bdaf;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Averia Sans Libre', cursive;
  font-weight: 400;
  background-color: var(--color-bg);
  color: var(--color-text);
  background-image: url('./assets/background/background1_25.svg');
  background-size: cover;
}

#root {
  min-height: 100vh;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
